*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 90px;
    height: 100vh;
    top: 0;
    left: 0;
    background: #4f829c;
    padding: 40px 0;
    transition: 0.3s ease;
}

header .bottom{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

header .menu, header .personal, header .logout, header .remove{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .navigation .activator,  header .navigation .showDevices{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 40px;
    right: 40px;
}

header .navigation .showDevices{
    top: 90px;
}



header .personal a, header .logout label{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background: #fff;
    cursor: pointer;
}

header .navigation .activator .content,  header .navigation .showDevices .content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
    background: #4f829c;
}

header .navigation .activator .content .orizontal{
    position: absolute;
    width: 25px;
    height: 2px;
    background: #fff;
    border: none;
}

header .navigation .activator .content .vertical{
    position: absolute;
    width: 2px;
    height: 25px;
    background: #fff;
    border: none;
}

header .logout label input{
    display: none;
}

header .personal a ion-icon {
    position: relative;
    font-size: 1.5em;
    color: #4f829c;
}

header .menu .menuToggle, header .remove .menuToggle1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background: #fff;
    gap: 5px;
    cursor: pointer;
}

header .menu .menuToggle .line, header .remove .menuToggle1 .line{
    position: relative;
    width: 25px;
    height: 2px;
    border-radius: 8px;
    background: #4f829c;
    transition: 0.3s ease;
}

header .remove .menuToggle1.active {
    background: #4f829c;
}

header .remove .menuToggle1.active .line{
    background: #fff;
}

header .menu .menuToggle.active .line, header .remove .menuToggle1 .line{
    position: absolute;
}

header .remove .menuToggle1.active .line{
    position: relative;
}

header .menu .menuToggle.active{
    gap: 0;
}

header .menu .menuToggle.active .line:nth-child(1){
    display: none;
}

header .menu .menuToggle.active .line:nth-child(2), 
header .remove .menuToggle .line:nth-child(1){
    transform: rotate(45deg);
}

header .menu .menuToggle.active .line:nth-child(3),
header .remove .menuToggle .line:nth-child(2){
    transform: rotate(-45deg);
}

header .navigation .activator .subtitle, header .menu .subtitle, header .personal .subtitle, header .logout .subtitle, header .remove .subtitle, header .navigation .showDevices .subtitle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    right: -250px;
    background: #4f829c;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s ease;
    width: 80px;
    height: 40px;
}

header .navigation .activator .subtitle::before,  header .menu .subtitle::before, header .personal .subtitle::before, header .logout .subtitle::before, header .remove .subtitle::before, header .navigation .showDevices .subtitle::before{
    content: '';
    position: absolute;
    left: -5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #4f829c;
}

header .menu .menuToggle:hover ~ .subtitle, header .personal a:hover ~ .subtitle, header .logout label:hover ~ .subtitle, header .remove .menuToggle1:hover ~ .subtitle{
    opacity: 1;
    transform: translateX(-130px);
}

header .navigation .activator .content:hover ~ .subtitle, header .navigation .showDevices .content:hover ~ .subtitle{
    opacity: 1;
    transform: translateX(-110px);
}

header .navigation .activator .content hr{
    transition: 0.3s ease;
}

header .navigation .activator .content.active hr{
    transform: rotate(45deg);
}

header.active .menu,
header.active .bottom{
    display: none;
}

header.active{
    padding: 0;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
}

header .navigation{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background: #d1d1d1;
    left: 90px;
    top: 0;
    height: 100%;
    width: 500px;
    gap: 25px;
    transition: 0.3s ease;
}

header .navigation li{
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
}

header .navigation.active{
    width: 0px;
    overflow: hidden;
}

header .navigation li a{
    text-decoration: none;
    font-size: 2.5em;
    color: #4f829c;
    letter-spacing: 2px;
    transition: 0.3s ease;
    z-index: 5;
}

header .navigation li a:hover{
    letter-spacing: 5px;
}

header .navigation li a::before{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    opacity: 0.5;
    z-index: -1;
    font-size: 4rem;
    letter-spacing: 250px;
    transition: 0.3s ease letter-spacing;
}

header .navigation li:hover a::before{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}






header .bottom label .rect{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 22px;
    border: 2px solid #4f829c;
    border-radius: 5px;
    margin-right: 5px;
}

header .bottom label .rect .white{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -5px;
    width: 10px;
    height: 12px;
    background: #fff;
}

header .bottom label .rect .white .arrow{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 2px;
    background: #4f829c;
    transition: 0.3s ease;
}

header .bottom label .rect .white .arrow::before{
    content: '';
    position: absolute;
    right: 0;
    height: 7px;
    width: 2px;
    background: #4f829c;
    transform:translateY(-2px) translateX(-1.5px) rotate(-45deg);
}

header .bottom label .rect .white .arrow::after{
    content: '';
    position: absolute;
    right: 0;
    height: 7px;
    width: 2px;
    background: #4f829c;
    transform:translateY(2px) translateX(-1.5px) rotate(45deg);
}

header .bottom label:hover .rect .white .arrow{
    transform: translateX(7px);
}


header .navigation .add .adding .machines{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 60px;
    width: 0px;
    height: 40px;
    background: #d1d1d1;
    border-left: 2px solid #fff;
    z-index: 5;
    animation: 0.7s ease forwards;
    overflow: hidden;
}

@keyframes boxReveal {
    50%{
        width: 500px;
        height: 40px;
    }100%{
        height: 500px;
        width: 500px;
    }
}

header .navigation .add .adding .machines.active{
    animation: 0.7s ease forwards;
}

@keyframes boxRemove {
    0%{
        width: 500px;
        height: 500px;
    }
    50%{
        width: 500px;
        height: 40px;
    }100%{
        height: 40px;
        width: 0px;
    }
}



header .navigation .add{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    left: 440px;
}

header .navigation .add .adding{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


header .navigation .add .adding form .search input:focus ~ .models{
    height: 150px;
}

header .navigation .add .adding form .search .models{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    z-index: 6;
}

header .navigation .add .adding form .search .models li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    width: 260px;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    background: #4f829c;
}

header .navigation .add .adding form .search .models li:hover{
    background: #fff;
}

header .navigation .add .adding form .search .models li:hover .info .productName{
    color: #4f829c;
}

header .navigation .add .adding form .search .models ul li .img{
    width: 20%;
    height: 100%;
    padding: 5px;
}

header .navigation .add .adding form .search .models ul li .img img{
    width: 100%;
    height: 100%;
}

header .navigation .add .adding form .search .models ul li .info{
    width: 80%;
    height: 100%;
    padding: 5px;
    margin-left: 5px;
}

header .navigation .add .adding form .search .models ul li .info .productName{
    font-size: 14px;
    color: #fff;
}

header .navigation .add .adding .machines .title{
    color: #4f829c;
}

header .navigation .add .adding .machines form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

header .navigation .add .adding .machines form input[type='text']{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 40px;
    background: #4f829c;
    border: 2px solid #fff;
    color: #fff;
    padding: 5px;
}

::-webkit-input-placeholder { 
    color: #fff;
}

header .navigation .add .adding .machines form input[type='submit']{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4f829c;
    border: 5px solid #fff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}





header .navigation .showDevices .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .navigation .showDevices .content .cashRegister{
    position: relative;
    display: flex;
    justify-items: center;
    align-items: bottom;
    width: 20px;
    border-bottom:10px solid #fff;
    border-left:2px solid transparent;
    border-right:2px solid transparent;
}

header .navigation .showDevices .content .cashRegister .button{
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #4f829c;
    bottom: -5px;
}

header .navigation .showDevices .content .cashRegister .button:nth-child(1){
    margin: 0 2px;
}

header .navigation .showDevices .content .cashRegister .button:nth-child(2){
    margin: 0 12px;
}

header .navigation .showDevices .content .cashRegister .button:nth-child(3){
    margin: -4px 2px;
}

header .navigation .showDevices .content .cashRegister .button:nth-child(4){
    margin: -4px 12px;
}

header .navigation .showDevices .content .cashRegister .button:nth-child(5){
    margin: 0px 7px;
}

header .navigation .showDevices .content .cashRegister .button:nth-child(6){
    margin: -4px 7px;
}

header .navigation .showDevices .content .cashRegisterBottom{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 7px;
    background: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: 0.5s ease;
    top: 29px;
}

header .navigation .showDevices .content .cashRegisterBottom::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 3px;
    border-radius: 8px;
    background: #4f829c;
}

header .navigation .showDevices .content .display{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 5px;
    border-radius: 2px;
    background: #fff;
    margin-bottom: 3px;
}

header .navigation .showDevices .content .display::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 3px;
    background: #fff;
    bottom: -3px;
}

header .navigation .showDevices .content .display::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 5px;
    background: #4f829c;
}





header .navigation .devices{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 0;
    height: 40px;
    background: #d1d1d1;
    top: 70px;
    left: 500px;
    border-left: 2px solid #fff;
    z-index: 5;
    animation: 0.7s ease forwards;
    overflow-x: hidden;
    overflow-y: hidden;
}

header .navigation .devices.active{
    overflow-y: scroll;
}

header .navigation .add .adding .machines.active{
    animation: 0.7s ease forwards;
}

header .navigation .devices input{
    height: 50px;
    background: #4f829c;
    border: 2px solid white;
    padding: 5px;
    font-size: 16px;
    color: white;
}



@keyframes boxReveal1 {
    50%{
        width: 300px;
        height: 40px;
    }100%{
        height: 300px;
        width: 300px;
    }
}


@keyframes boxRemove1 {
    0%{
        width: 300px;
        height: 300px;
    }
    50%{
        width: 300px;
        height: 40px;
    }100%{
        height: 40px;
        width: 0px;
    }
}


header .navigation .devices .device{
    position: relative;
    width: 100%;
    height: 100%;
}

header .navigation .devices .device li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 60px;
    width: 100%;
    border: 2px solid #fff;
    color: #4f829c;
    font-size: 14pt;
    cursor: pointer;
}

header .navigation .devices .device li .img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 20%;
    height: 100%;
}

header .navigation .devices .device li .img img{
    width: 100%;
    height: 100%;
}

header .navigation .devices .device li .info{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-left: 5px;
}

header .navigation .devices .device li .info .name{
    font-size: 14px;
    color: #4f829c;
}

header .navigation .devices .device li .info .badge{
    font-size: 12px;
    color: #4f829c;
    opacity: 0.8;
}

header .navigation .devices .device li:hover{
    background: #4f829c;
}

header .navigation .devices .device li:hover .info .name{
    color: #fff;
}

header .navigation .devices .device li:hover .info .badge{
    color: #fff;
}




::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4f829c;
    border-radius: 4px;
    border: 1px solid #fff;
  }
