section .dashboard .sectionOne{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 40px;
}

section .dashboard .sectionOne .column{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section .dashboard .sectionOne .column .row{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

section .dashboard .sectionOne .column .row:nth-child(2){
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

section .dashboard .sectionOne .title{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

section .dashboard .sectionOne .title h1{
    position: relative;
    color: #112d42;
    font-family: 900;
    font-size: 40px;
    opacity: 0;
    transform: translateX(-30px);
}

section .dashboard .sectionOne .title .select{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 2px solid #112d42;
    color: #112d42;
    font-weight: 900;
    width: 200px;
    height: 40px;
    transition: 0.5s ease color, 0.5s ease background;
    cursor: pointer;
    opacity: 0;
    transform: translateX(30px);
}   

section .dashboard .sectionOne .title .select:hover{
    background: #112d42;
    color: #fff;
}

section .dashboard .sectionOne .left,
section .dashboard .sectionOne .right{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section .dashboard .sectionOne .left .infoSelected,
section .dashboard .sectionOne .left .information{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
}

section .dashboard .sectionOne .left .infoSelected{
    opacity: 0;
    transform: translateX(-30px);
}

section .dashboard .sectionOne .left .infoSelected .infoDevice{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #112d42;
    padding: 20px;
    gap: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
section .dashboard .sectionOne .left .infoSelected .infoDevice .top{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

section .dashboard .sectionOne .left .infoSelected .infoDevice .top h3{
    color: #fff;
    font-size: 1.7vw;
}

section .dashboard .sectionOne .left .infoSelected .infoDevice .bottom{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

section .dashboard .sectionOne .left .infoSelected .infoDevice .bottom ul{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

section .dashboard .sectionOne .left .infoSelected .infoDevice .bottom ul li{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.1vw;
    font-weight: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    list-style: none;
    width: 100%;
    opacity: 0;
    transform: scale(1.3);
}

section .dashboard .sectionOne .right{
    padding: 10px;
}

section .dashboard .sectionOne .right #map{
    opacity: 0;
    transform: translateX(30px);
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

section .dashboard .sectionOne .left .information{
    opacity: 0;
    transform: translate(-30px);
}

section .dashboard .sectionOne .left .information .status{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    gap: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

section .dashboard .sectionOne .left .information .status .top{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

section .dashboard .sectionOne .left .information .status .top h3{
    color: #112d42;
    font-size: 1.7vw;
}

section .dashboard .sectionOne .left .information .status .bottom{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

section .dashboard .sectionOne .left .information .status .bottom ul{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

section .dashboard .sectionOne .left .information .status .bottom ul li{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #112d42;
    font-size: 1.1vw;
    font-weight: 900;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    list-style: none;
    width: 100%;
    opacity: 0;
    transform: scale(1.3);
}

section .dashboard .sectionOne .left .information .status .bottom .buttonsContainer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

section .dashboard .sectionOne .left .information .status .bottom .buttonsContainer .button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease background, 0.3s ease color;
    opacity: 0;
}

section .dashboard .sectionOne .left .information .status .bottom .buttonsContainer .button.remove{
    background: #fff;
    color: #bf0606;
    border: 2px solid #bf0606;
    transform: translateX(-30px);
}

section .dashboard .sectionOne .left .information .status .bottom .buttonsContainer .button.remove:hover{
    background: #bf0606;
    color: #fff;
}   

section .dashboard .sectionOne .left .information .status .bottom .buttonsContainer .button.goTo{
    background: #fff;
    color: #112d42;
    border: 2px solid #112d42;
    transform: translateX(30px);
    text-decoration: none;
}

section .dashboard .sectionOne .left .information .status .bottom .buttonsContainer .button.goTo:hover{
    background: #112d42;
    color: #fff;
}

section .alert{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 100;
    transition: 0.5s ease;
}

section .alert.active{
    display: flex;
}

section .alert .confirm{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    gap: 100px;
    padding: 40px;
}

section .alert .confirm .title{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #112d42;
}

section .alert .confirm .confirmButton{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
}

section .alert .confirm .confirmButton .b{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    background: #fff;
    color: #112d42;
    border: 2px solid #112d42;
}

section .alert .confirm .confirmButton .b:hover{
    background: #112d42;
    color: #fff;
}






section .dashboard .sectionTwo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    z-index: 1;
}



.gauge-container > .gauge > .dial {
    stroke: #334455;
    stroke-width: 2;
    z-index: 1000;
  }
  .gauge-container > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
  }
  .gauge-container > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans, 'sans-serif';
    font-weight: bold;
    font-size: 0.6em;
  }















.leaflet-marker-icon{
    content: url("");
    width: 10px;
    height: 20px;
    background: #112d42;
}




section .dashboard .up{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background: #112d42;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
}

section .dashboard .up ion-icon{
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 40px;
}