<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/homeStyleHeader.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
</head>
<body>
    <header class="active">
            <div class="remove">
                <div class="menuToggle1 active">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <span class="subtitle change">Apri menù</span>
            </div>
            <div class="menu">
                <div class="menuToggle">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <span class="subtitle">Menù</span>
            </div>
            <div class="bottom">
                <div class="personal">
                    <a href="">
                        <ion-icon name="person-outline"></ion-icon>
                    </a>
                    <span class="subtitle">Area personale</span>
                </div>
                <form action="logout" method="post" class="logout">
                    <label for="logout">
                        <div class="rect">
                            <div class="white">
                                <div class="arrow">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="logout" id="logout">
                    </label>
                    <span class="subtitle">Logout</span>
                </form>
            </div>
            <ul class="navigation active">
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <div class="activator">
                    <div class="content">
                        <hr class="orizontal">
                        <hr class="vertical">
                    </div>
                    <span class="subtitle">Aggiungi macchina</span>
                </div>
                <div class="add">
                    <div class="adding">
                        <div class="machines">
                            <form action="addMachine" method="post" ng-app="myApp" ng-controller="myCtrl">
                                <div class="search">
                                    <input type="text" name="search" id="" placeholder="Cerca tra i tuoi dispositivi...">
                                </div>
                                <div class="badgeNumber">
                                    <input type="text" name="badgeNumber">
                                </div>
                                <div class="customName">
                                    <input type="text" name="name">
                                </div>
                                <input type="submit" name="submit">
                            </form>
                            <div class="machine">

                            </div>
                        </div>
                    </div>
                </div>
            </ul>
    </header>

    <script>
        let menu = document.querySelector(".menuToggle");
        let navigation = document.querySelector(".navigation");
        menu.onclick = () =>{
            menu.classList.toggle("active");
            if(menu.className == "menuToggle active"){
                navigation.classList.toggle("active");
            }
            else if(menu.className == "menuToggle"){
                navigation.classList.toggle("active");
            }
        }
        

        let toggle = document.querySelector(".menuToggle1");
        let header = document.querySelector("header");
        let subt = document.querySelector(".subtitle.change")
        toggle.onclick = () => {
            header.classList.toggle("active");
            toggle.classList.toggle("active");
            if(header.className == ""){
                subt.innerHTML = "Chiudi menù";
            }else{
                subt.innerHTML = "Apri menù";
                menu.classList.remove("active");
                navigation.classList.add("active");
                box.style.animationName = "boxRemove";
                box.classList.remove("active");
                add.classList.remove("active");
            }
        }



        let adding = document.querySelector(".content");
        let add = document.querySelector(".add");
        let box = document.querySelector(".machines");
        adding.onclick = () => {
            box.classList.toggle("active");
            if(box.className == "machines active"){
                box.style.animationName = "boxReveal";
                add.classList.toggle("active");
            }else if(box.className == "machines"){
                box.style.animationName = "boxRemove";
                add.classList.toggle("active");
            }
        }

    </script>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $http({
                method : "GET",
                url : "/home/getModels"
            }).then(function mySuccess(response) {
                $scope.models = response.data;
                console.log("ciao");
                }, function myError(response) {
                console.log(response.statusText);
            });
        });
    </script>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>