<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/homeStyleHeader.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body ng-app="myApp">
    <header class="active">
            <div class="remove">
                <div class="menuToggle1 active">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <span class="subtitle change">Apri menù</span>
            </div>
            <div class="menu">
                <div class="menuToggle">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <span class="subtitle">Menù</span>
            </div>
            <div class="bottom">
                <div class="personal">
                    <a href="">
                        <ion-icon name="person-outline"></ion-icon>
                    </a>
                    <span class="subtitle">Area personale</span>
                </div>
                <form action="logout" method="post" class="logout">
                    <label for="logout">
                        <div class="rect">
                            <div class="white">
                                <div class="arrow">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="logout" id="logout" >
                    </label>
                    <span class="subtitle">Logout</span>
                </form>
            </div>
            <ul class="navigation active">
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <div class="activator">
                    <div class="content">
                        <hr class="orizontal">
                        <hr class="vertical">
                    </div>
                    <span class="subtitle">Aggiungi dispositivo </span>
                </div>
                <div class="add">
                    <div class="adding">
                        <div class="machines">
                            <h2 class="title">Aggiungi un nuovo dispositivo</h2>
                            <form action="addMachine" method="post" ng-controller="myCtrl">
                                <div class="search">
                                    <input type="text" name="search" id="inputSearch" placeholder="Seleziona il modello..." ng-model="machines" autocomplete="off">
                                    <div class="models">
                                        <ul class="model">
                                            <li onmouseover="clicked = false; input.value = this.innerHTML;" onmouseout="mouseOut(input)" onclick="disable()" ng-repeat="model in models | filter: machines">
                                                <div class="img">
                                                    <img src="../images/{{ model + '.png'}}" alt="">
                                                </div>
                                                <div class="info">
                                                    <h3 class="productName">{{ model }}</h3>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="badgeNumber">
                                    <input type="text" name="badgeNumber" placeholder="Numero di matricola" autocomplete="off">
                                </div>
                                <div class="customName">
                                    <input type="text" name="name" placeholder="Nome personalizzato" autocomplete="off">
                                </div>
                                <input type="submit" value="Aggiungi" name="submit">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="showDevices">
                    <div class="content c1">
                        <div class="display"></div>
                        <div class="cashRegister">
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                        </div>
                        <div class="cashRegisterBottom"></div>
                    </div>
                    <span class="subtitle">I tuoi dispositivi</span>
                </div>
                <div class="devices">
                    <input type="text" ng-model="device" placeholder="Cerca tra i tuoi dispositivi...">
                    <ul class="device" ng-controller="myCtrlDevice">
                        <li class="listDevice" ng-repeat="device in devices | filter: device">
                            <div class="img">
                                <img src="../images/{{ device.model + '.png'}}" alt="">
                            </div>
                            <div class="info">
                                <h3 class="name">{{ device.model + " - " + device.customname }}</h3>
                                <h4 class="badge">{{ device.uniqueid }}</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </ul>
    </header>




    <section id="data">

    </section>



















    <script>

       

        let menu = document.querySelector(".menuToggle");
        let navigation = document.querySelector(".navigation");
        menu.onclick = () =>{
            menu.classList.toggle("active");
            if(menu.className == "menuToggle active"){
                navigation.classList.toggle("active");
            }
            else if(menu.className == "menuToggle"){
                navigation.classList.toggle("active");
                adding.classList.remove("active");
                box.style.animationName = "boxRemove";
                box.classList.remove("active");
                devices.style.animationName = "boxRemove1";
                devices.classList.remove("active");
            }
        }
        

        let toggle = document.querySelector(".menuToggle1");
        let header = document.querySelector("header");
        let subt = document.querySelector(".subtitle.change")
        toggle.onclick = () => {
            header.classList.toggle("active");
            toggle.classList.toggle("active");
            if(header.className == ""){
                subt.innerHTML = "Chiudi menù";
            }else{
                subt.innerHTML = "Apri menù";
                menu.classList.remove("active");
                navigation.classList.add("active");
                box.style.animationName = "boxRemove";
                box.classList.remove("active");
                adding.classList.remove("active");
                devices.style.animationName = "boxRemove1";
                devices.classList.remove("active");
            }
        }

        let opened= false;
        let openedTwice = false;

        let adding = document.querySelector(".content");
        let add = document.querySelector(".add");
        let box = document.querySelector(".machines");
        adding.onclick = () => {
            box.classList.toggle("active");
            openedTwice = true;
            if(box.className == "machines active"){
                box.style.animationName = "boxReveal";
                if(opened){
                    devices.style.animationName = "boxRemove1";
                    devices.classList.remove("active");
                }
                adding.classList.toggle("active");
            }else if(box.className == "machines"){
                box.style.animationName = "boxRemove";
                adding.classList.toggle("active");
            }
        }


        let devicesToggle = document.querySelector(".content.c1");
        let devices = document.querySelector(".devices")
        devicesToggle.onclick = () => {
            devices.classList.toggle("active");
            opened = true;
            if(devices.className == "devices active"){
                devices.style.animationName = "boxReveal1";
                if(openedTwice){
                    box.style.animationName = "boxRemove";
                    box.classList.remove("active");
                    adding.classList.remove("active");
                }
            }else if(devices.className == "devices"){
                devices.style.animationName = "boxRemove1";
            }
        }



        var clicked = false;
        var input = document.querySelector("#inputSearch");

        function disable(){
            clicked = true;
        }

        function mouseOut(list){
            if(!clicked){
                list.value = '';
            }
        }

    </script>

    <script>

        let app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            $http({
                method : "GET",
                url : "/home/getModels"
            }).then(function mySuccess(response) {
                $scope.models = response.data;
            }, function myError(response) {
                
            });
        });

        app.controller('myCtrlDevice', function($scope, $http) {
            $http({
                method : "GET",
                url : "/home/getMachines"
            }).then(function mySuccess(response) {
                $scope.devices = response.data;
                $scope.list = document.querySelectorAll(".listDevice");
                console.log(list.lenght);
              }, function myError(response) {
                
            });
        });
    </script>
    

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>