<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/homeStyleHeader.css">
    <link rel="stylesheet" href="../styles/homeStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="angularHeader.js"></script>
</head>
<body ng-app="myApp">
    <header class="active">
            <div class="remove">
                <div class="menuToggle1 active">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <span class="subtitle change">Apri menù</span>
            </div>
            <div class="menu">
                <div class="menuToggle">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
                <span class="subtitle">Menù</span>
            </div>
            <div class="bottom">
                <div class="personal">
                    <a href="">
                        <ion-icon name="person-outline"></ion-icon>
                    </a>
                    <span class="subtitle">Area personale</span>
                </div>
                <form action="logout" method="post" class="logout">
                    <label for="logout">
                        <div class="rect">
                            <div class="white">
                                <div class="arrow">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="logout" id="logout" >
                    </label>
                    <span class="subtitle">Logout</span>
                </form>
            </div>
            <ul class="navigation active">
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <li><a href="" data-after="Link">Link</a></li>
                <div class="activator">
                    <div class="content">
                        <hr class="orizontal">
                        <hr class="vertical">
                    </div>
                    <span class="subtitle">Aggiungi dispositivo </span>
                </div>
                <div class="add">
                    <div class="adding">
                        <div class="machines">
                            <h2 class="title">Aggiungi un nuovo dispositivo</h2>
                            <form action="addMachine" method="post" ng-controller="myCtrl">
                                <div class="search">
                                    <input type="text" name="search" id="inputSearch" placeholder="Seleziona il modello..." ng-model="machines" autocomplete="off">
                                    <div class="models">
                                        <ul class="model">
                                            <li ng-mouseover="myFunction(models[$index])" ng-mouseout="mouseOut()" ng-click="disable()" ng-repeat="model in models | filter: machines">   
                                                <div class="img">
                                                    <img src="../images/{{ model + '.png'}}" alt="">
                                                </div>
                                                <div class="info">
                                                    <h3 class="productName">{{ model }}</h3>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="badgeNumber">
                                    <input type="text" name="badgeNumber" placeholder="Numero di matricola" autocomplete="off">
                                </div>
                                <div class="customName">
                                    <input type="text" name="name" placeholder="Nome personalizzato" autocomplete="off">
                                </div>
                                <input type="submit" value="Aggiungi" name="submit">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="showDevices">
                    <div class="content c1 sub">
                        <div class="display"></div>
                        <div class="cashRegister">
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                            <span class="button"></span>
                        </div>
                        <div class="cashRegisterBottom"></div>
                    </div>
                    <span class="subtitle">I tuoi dispositivi</span>
                </div>
                <div class="devices">
                    <input type="text" ng-model="device" placeholder="Cerca tra i tuoi dispositivi...">
                    <ul class="device" ng-controller="myCtrlDevice">
                        <li class="listDevice" ng-init="sele = this.$index" ng-click="selection(this);" ng-repeat="device in devices | filter: device">
                            <div class="img">
                                <img src="../images/{{ device.model + '.png'}}" alt="">
                            </div>
                            <div class="info" ng-controller="postController">
                                <div class="inside">
                                    <h3 class="name">{{ device.model + " - " + device.customname }}</h3>
                                    <h4 class="badge">{{ device.uniqueid }}</h4>
                                </div>
                                <div class="remove" ng-controller="removeDevice">
                                    <div class="top"></div>
                                    <div class="bottom">
                                        <hr>
                                        <hr>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </ul>
    </header>




    <section id="data">
        <section id="up">
            <div class="table" ng-controller="myCtrlDevice">
                <div class="title">
                    <h1 class="select">Nessuna macchina selezionata</h1>
                </div>
                <div class="machineSelected">
                    <h4 class="selector">{{ $scope.selected }}</h4>
                </div>                
            </div>
            <div class="location">

            </div>
        </section>
    </section>


    <script src="../script/scriptHeader.js"></script>
    <script src="../script/angularHeader.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>