<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://www.olivetti.com/sites/default/files/favicon-32x32_0.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page | Olivetti SPA</title>
    <link rel="stylesheet" href="../Styles/introPage/style.css">
</head>
<body>
    <iframe class="loading" src="../template/loading.html" frameborder="0"></iframe>
    <div class="frame"></div>
    <section>
        <div class="content">
            <header>
                <img src="../images/logo_olivetti_0-4.png" alt="">
                <ul>
                    <li><a href="https://www.olivetti.com">Sito uffciale<span></span></a></li>
                    <li><a href="/login">Login<span></span></a></li>
                </ul>
            </header>
            <div class="bottom">
                <div class="left">
                    <div class="title">
                        <h1>Gestione fiscale, ovunque ti trovi</h1>
                    </div>
                    <div class="description">
                        <p></p>
                        <div class="more">
                            <span></span>
                            <a href="/login">Inizia ora</a>
                        </div>
                    </div>
                </div>
                <div class="right">

                </div>
            </div>
        </div>
    </section>


    <script>
        window.addEventListener("load", () => {
            document.querySelector(".loading").style.display = "none";
        })

    </script>

</body>
</html>