<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styleLogin.css" class="css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>

</head>
<body>
        <section id="login">
            <div class="logo">
                <div class="O"></div>
                <h1 class="write">olivetti</h1>
            </div>
            <hr>
            <div class="loginForm">
                <form action="login" method="post">
                    <h1 class="title">Accedi</h1>
                        <div class="row">
                            <div class="column c1">
                                <div class="input">
                                    <input class="i1" name="email"type="email" required>
                                    <h3 class="t1">Email</h3>
                                </div>
                                <div class="input">
                                    <span class="icon">
                                        <input class="i2" name="password" type="password" required minlength="8">
                                        <span class="toggleIcon">
                                            <ion-icon class="eyeOn" name="eye-outline"></ion-icon>
                                            <hr class="line">
                                        </span>
                                    </span>
                                    <h3 class="t2">Password</h3>
                                </div>
                                <div class="input">
                                    <span class="icon">
                                        <input class="i5" name="repeatPassword" type="password" disabled>
                                        <span class="toggleIcon repeat">
                                            <ion-icon class="eyeOn" name="eye-outline"></ion-icon>
                                            <hr class="line1">
                                        </span>
                                    </span>
                                    <h3 class="t5 modify">Ripeti password</h3>
                                </div>
                            </div>
                            <div class="column c2">
                                <div class="input">
                                    <input class="i3" name="name" type="text" disabled>
                                    <h3 class="t3">Nome</h3>
                                </div>
                                <div class="input">
                                    <input class="i4" name="surname" type="text" disabled>
                                    <h3 class="t4">Cognome</h3>
                                </div>
                                <div class="input">
                                    <input class="i6" name="date" type="date" disabled>
                                    <h3 class="t6">Data di nascita</h3>
                                </div>
                            </div>
                        </div>
                    <div class="validation">
                        <label for="loginButton" class="loginLabel">Accedi</label>
                        <input type="submit" id="loginButton" style="display: none;">
                        <label for="register">
                            Registrati
                            <input type="checkbox" id="register">
                        </label>
                    </div>
                </form>
            </div>
        </section>


        <script>

            var i1 = document.querySelector(".i1");
            var t1 = document.querySelector(".t1");          

            var i2 = document.querySelector(".i2");
            var t2 = document.querySelector(".t2");

            var i3 = document.querySelector(".i3");
            var t3 = document.querySelector(".t3");

            var i4 = document.querySelector(".i4");
            var t4 = document.querySelector(".t4");

            var i5 = document.querySelector(".i5");
            var t5 = document.querySelector(".t5");

            var i6 = document.querySelector(".i6");



            var iconDiv = document.querySelector(".toggleIcon");
            var iconDiv2 = document.querySelector(".toggleIcon.repeat");


            var line = document.querySelector(".line");
            var line1 = document.querySelector(".line1");


            var register = document.getElementById("register");
            var form = document.querySelector("form");

            window.onload = function(){
                let body = document.querySelector("body");
                if(i1.value != ""){
                    t1.classList.toggle('active');
                }
                if(i2.value != ""){
                    t2.classList.toggle('active');
                }
                if(i3.value != ""){
                    t3.classList.toggle('active');
                }
                if(i4.value != ""){
                    t4.classList.toggle('active');
                }
                if(i5.value != ""){
                    t5.classList.toggle('active');
                }
                body.click();
            }


            t1.onclick = function(){
                i1.focus();   
            }
            t2.onclick = function(){
                i2.focus();   
            }
            t3.onclick = function(){
                i3.focus();   
            }
            t4.onclick = function(){
                i4.focus();   
            }
            t5.onclick = function(){
                i5.focus();   
            }
            
            i1.addEventListener('focus', function(){
                if(i1.value == ""){
                    t1.classList.toggle('active');
                    i1.classList.toggle('active');
                }
            })
            i1.addEventListener('blur', function(){
                if(i1.value == ""){
                    t1.classList.toggle('active');
                    i1.classList.toggle('active');
                }
            })

            i2.addEventListener('focus', function(){
                if(i2.value == ""){
                    t2.classList.toggle('active');
                    i2.classList.toggle('active');
                }
            })
            i2.addEventListener('blur', function(){
                if(i2.value == ""){
                    t2.classList.toggle('active');
                    i2.classList.toggle('active');
                }
            })

            i3.addEventListener('focus', function(){
                if(i3.value == ""){
                    t3.classList.toggle('active');
                    i3.classList.toggle('active');
                }
            })
            i3.addEventListener('blur', function(){
                if(i3.value == ""){
                    t3.classList.toggle('active');
                    i3.classList.toggle('active');
                }
            })

            i4.addEventListener('focus', function(){
                if(i4.value == ""){
                    t4.classList.toggle('active');
                    i4.classList.toggle('active');
                }
            })
            i4.addEventListener('blur', function(){
                if(i4.value == ""){
                    t4.classList.toggle('active');
                    i4.classList.toggle('active');
                }
            })

            i5.addEventListener('focus', function(){
                if(i5.value == ""){
                    t5.classList.toggle('active');
                    i5.classList.toggle('active');
                }
            })
            i5.addEventListener('blur', function(){
                if(i5.value == ""){
                    t5.classList.toggle('active');
                    i5.classList.toggle('active');
                }
            })

            var turn = false;
            var turn1 = false;


            iconDiv.addEventListener('click', function(){
                if(!turn){
                    line.style.height = '0px';
                    i2.type = "text";
                    turn = true;
                }else if(turn){
                    line.style.height = '25px';
                    i2.type = "password";
                    turn = false;
                }
            });

            iconDiv2.addEventListener('click', function(){
                if(!turn1){
                    line1.style.height = '0px';
                    i5.type = "text";
                    turn1 = true;
                }else if(turn1){
                    line1.style.height = '25px';
                    i5.type = "password";
                    turn1 = false;
                }
            });

            var title = document.querySelector(".title");
            var login = document.getElementById("loginButton");

            


            register.addEventListener("change", function(){
                    form.classList.toggle("register");
                    title.innerHTML = "Registrati";
                    login.type = "checkbox";
                    register.type = "submit";
                    if(form.className == "register"){
                        form.action = "register";
                        i3.required = true;
                        i4.required = true;
                        i5.required = true;
                        i6.required = true;

                        i3.disabled = false;
                        i4.disabled = false;
                        i5.disabled = false;
                        i6.disabled = false;
                    }
            })

            login.addEventListener("change", function(){
                    form.classList.toggle("register");
                    title.innerHTML = "Accedi";
                    login.type = "submit";
                    register.type = "checkbox";
                    if(form.className == ""){
                        form.action = "login";

                        i3.required = false;
                        i4.required = false;
                        i5.required = false;
                        i6.required = false;

                        i3.disabled = true;
                        i4.disabled = true;
                        i5.disabled = true;
                        i6.disabled = true;
                    }
            })



        </script>



        <script>
            var e = window.matchMedia("(max-width: 700px)")
            var css = document.querySelector(".css");

            function responsive(e) {
                if (e.matches) { 
                    css.href = "../styles/mobileStyleLogin.css";
                    
                } else {
                    css.href = "../styles/styleLogin.css";
                }
            }

            responsive(e);
            e.addListener(responsive);



        </script>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>