<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="https://www.olivetti.com/sites/default/files/favicon-32x32_0.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
            flex-direction: column;
        }

        iframe.loading{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="MyCtrl">
    <iframe class="loading" src="../template/loading.html" frameborder="0"></iframe>
    <a href="/login">Clicca</a>
    <form action="uploadpfp" method="post" enctype="multipart/form-data">
        <input type="file" name="profilepicture" id="">
        <input type="submit">
    </form>

    <script>
        window.addEventListener("load", () => {
            document.querySelector(".loading").style.display = "none";
        })

    </script>

</body>
</html>