<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/login/login.css">
</head>
<body>
    <!-- <iframe class="loading" src="../template/loading.html" frameborder="0"></iframe> -->
    <section>
        <div class="login">
            <h1 class="log">Accedi</h1>
            <form action="log" method="post">
                <div class="inputBox">
                    <input type="text" class="input" name="email" id="" required>
                    <span class="focus f1">Email</span>
                </div>
                <div class="inputBox">
                    <input type="password" class="input password p1" name="password" id="" required>
                    <span class="focus f2" >Password</span>
                    <span class="hide e1">
                        <div class="eye" style="--color: #fff;">
                            <hr class="line active">
                        </div>
                    </span>
                </div>
                <div class="error">
                    
                </div>
                <div class="inputBox submitBox">
                    <input type="submit" value="Accedi">
                    <div class="enableRegister">
                        <div class="enableRegisterButton">
                            Non hai un account? Registrati&nbsp;<span>qui</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="register">
            <div class="title">
                <h1 class="reg">Registrati</h1>
                <div class="close">
                    <div class="lineClose" style="--rot: 45deg;"></div>
                    <div class="lineClose" style="--rot: -45deg;"></div>
                </div>
            </div>
            <form action="register" method="post">
                <div class="row">
                    <div class="column">
                        <div class="inputBox">
                            <input type="text" class="input" name="email" id="" required>
                            <span class="focus f3">Email</span>
                        </div>
                        <div class="inputBox">
                            <input type="password" class="input password p2" name="password" id="" required>
                            <span class="focus f4">Password</span>
                            <span class="hide e2">
                                <div class="eye" style="--color: #112d42;">
                                    <hr class="line active">
                                </div>
                            </span>
                        </div>
                        <div class="inputBox">
                            <input type="password" class="input password p3" name="repeatPassword" id="" required>
                            <span class="focus f5">Ripeti password</span>
                            <span class="hide e3">
                                <div class="eye" style="--color: #112d42;">
                                    <hr class="line active">
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="inputBox">
                            <input type="text" class="input" name="name" id="" required>
                            <span class="focus f6">Nome</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" class="input" name="surname" id="" required>
                            <span class="focus f7">Cognome</span>
                        </div>
                        <div class="inputBox">
                            <input type="date" class="input" name="date" id="" class="date" required>
                            <span class="focus f8">Data di nascita</span>
                        </div>
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" value="Registrati">
                </div>
            </form>       
        </div>
    </section>

    

    <script src="../script/login/script.js"></script>
</body>
</html>